<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>留言簿</title>
	<link rel="stylesheet" type="text/css" href="liuyan.css" />
</head>
<body>
	<div class="head">
		<br />
		<h1 class="title">留言簿</h1>
	</div>
	<div class="form">
		<br />
		<legend>请尽情留言吧：</legend>
		<p>姓名<input name="username" placeholder="Your name" value="{{ username }}"></p>
		<p>内容<input name="message" placeholder="Your message" value="{{ message }}"></p>
		<p><button type="submit">提交</button></p>
	</div>
</body>
</html>
