div.head{
	width: 1000px;
	height: 120px;
	background-color: #00477D;
}
h1.title{
	color: white;
	vertical-align: middle;
}
div.form{
	width: 970px;
	height: 180px;
	background-color: #87CEFA;
	padding-left: 30px;
}
div.content{
	padding-left: 30px;
}

