.header {
	width: 1000px;
	height: 120px;
	background-color: MidnightBlue;
	color: white;
}
.form {
	width: 980px;
	height: 240px;
	background-color: LightSkyBlue;
	padding: 10px;
}
.footer {
	width: 1000px;
	height: 80px;
	background-color: MidnightBlue;
}
.entry {
	background-color: LightBlue;
	width: 1000px;
}
